---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Achievements from '../components/Achievements.astro';
import Contact from '../components/Contact.astro';

const title = "Mario Dariel Sirés Martínez | Full Stack Developer";
const description = "Full Stack Developer with 6+ years of experience in web and mobile development, specialized in Kotlin, Python, C++. Expert in Docker, React, Node.js and Java for Android development.";
---

<Layout title={title} description={description}>
  <Navigation />
  <main class="pt-16">
    <Hero />
    <About />
    <Skills />
    <!--<Proyects /> -->
    <Contact />
  </main>
</Layout>

<style>
  main {
    scroll-padding-top: 4rem;
  }
</style>